<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Angular Search Demo</title>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script src="controller.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/components/card.min.css">
    </head>
    <body>
        <div ng-app="mainApp">
            <input class='form-control' type="text" data-ng-model="polySearch">
            <div ng-controller="dataCTRL">
                <ul>
                    <li ng-repeat="x in myData | filter:searchPoly">
                        <div class="ui card">
                            <div class="image">
                                <img style="width:20px;height:20px"; class="ui middle aligned  rounded spaced image" src="{{x.Image}}">
                            </div>
                            <div class="extra">
                               <div>{{x.Name}}</div>
                               <div>{{x.City}}</div>
                                <div>{{x.Country}}</div>
                                <!--<div class="ui star Group Name" data-Group Name="4"></div>-->
                            </div>
                        </div>

                    </li>
                </ul>
            </div>
        </div>
    </body>
</html>